<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="Fragments/head :: header" />
    <title>Login</title>
</head>

<body class="d-flex flex-column h-100 bg">


    <div class="container"  style="display: flex; justify-content: center; position: fixed; left: 0; right:0; top: 10vh; bottom:0;">
        <div class="card bg-light" style="border-radius: 15px; width: max(35%, fit-content); height:fit-content;">
            <article class="card-body mx-auto">
                <h2 class="card-title mt-3 text-center">Please sign in</h2>
                <hr/>
                <form method="post" th:action="@{/login}" style="width: max(35%, 250px)">
                    <p th:if="${#request.getQueryString() == 'error'}" class="error">
                        Error en nombre de usuario o contraseña
                    </p>

                    <div class="mb-3">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                            required="required">
                    </div>

                    <p></p>

                    <div class="mb-3">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                            required="required">
                    </div>

                    <p></p>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>

                <p style="transform: translateY(30px);" class="text-center">Don't you have an account?<a th:action="@{/register}" href="/register"> Register </a></p>
                <p style="transform: translateY(30px);" class="text-center"><a href="/"> Return to main page </a></p>
            </article>
        </div>
    </div>

</body>

</html>