<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recipe article - rest is empty</title>
    <th:block th:replace="fragments/head :: header" />
    
</head>

<body>
    <div th:fragment="card" class="card" style="width: 15.5cm; height: fit-content;border-style: hidden ;">
        <div class="card mb-3" style="border-style: hidden; height: fit-content;">
            <div class="row g-0">
        
                <div class="col-md-6">
                    <div class="card-body" style="border-style:hidden;">
                         <h5 class="card-title" th:text="${article.recipe.name}"></h5>
            
                        <ul>
                            <div th:each="ingredient: ${article.recipe.ingredients}">
                                <li th:text="${ingredient.ingredient.name}"></li>
                            </div>
                        </ul>

                        <label>Cant.</label>
                        <input type="number" min="0" max="5000" class="form-control" th:value="${article.quantity}" style="font-size: 12; width: auto;"> 
                        <br>
                        <button type="button" class="btn btn-danger">Elim.</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img th:src="${article.recipe.src}" class="img-fluid rounded-start" style="margin-top: 20px;border-style:solid;">
                        <p th:inline="text" style="text-align: right;margin: 10px;">Precio: [[${article.recipe.price}]] €</p>  
                </div>
             </div>
        </div>
    </div>
</body>

