<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Recipe</title>
</head>
<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav" />

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1" th:text="${recipe.name}">Welcome to Blog Post!</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on <em th:text="${recipe.dateRegistered}">January 1, 2021 </em> by <em th:text="${recipe.author.username}">ForgeMeals</em></div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Foodie</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Healthy</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" th:src="${recipe.src}" alt="..."></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <h2 class="fw-bolder mb-4 mt-5">Ingredientes</h2>
                        <div th:each="ingredient: ${recipe.ingredients}">
                            <li class="fs-5 mb-4" th:text="${ingredient.ingredient.name}">Ingredients <em th:text="${ingredient.quantity}">Quantity</em></li>
                        </div>
                        <hr>
                        <h2 class="fw-bolder mb-4 mt-5">Preparación</h2>
                        <p class="fs-5 mb-4" th:text="${recipe.description}">Description</p>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4">
                                <div class="ratings">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-star rating-color" viewBox="0 0 16 16">
                                        <path
                                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                    </svg>
                                </div>
                                <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            </form>
                            <!-- Comments-->
                            <div class="d-flex mb-4" th:each="comment : ${comments}">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <h6 class="fw-bolder mb-4 mt-5" th:text="${comment.author}"></h6>
                                    <p th:text="${comment.text}">Comment</p>
                                </div>
                            </div>
                            <!-- Single comment example-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Easy</a></li>
                                    <li><a href="#!">Enjoy</a></li>
                                    <li><a href="#!">Delicious</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Gluten</a></li>
                                    <li><a href="#!">Frutos Secos</a></li>
                                    <li><a href="#!">Carne</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Add to my Cart</div>
                    <div class="card-body">Metemos los elementos del carrito y botón para proceder al pago?</div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>