<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Administrar en controller, 
    usamos la variable comida (un String con el alimento) 
    y una variable para el link a esa comida
    TODO añadirlo a controller y añadir botones de eliminar-modificar
        -->

    
<head>
    <title>cell</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body class="d-flex flex-column h-100">
    <!-- https://www.youtube.com/watch?v=4PY78rnOAf0 
    https://www.baeldung.com/spring-thymeleaf-fragments#parametrized-fragments
    -->
     <!--<th:block th:if="${session.u}"> yo diria que esto se pregunta en weekplan-->
        <td>
            <!--Mi idea es q al hacer click puedas mirar la receta y modificarla?? no sé-->
            <!-- TODO atributo link a Meal <a href="${linkComida}" th:text="${comida}"> </a> -->
            <p th:text="${meal.getName()}"> Nombre comida </p>
            <button type="button" style="vertical-align: bottom; float:right; padding: 0px; border:0px; margin:0.5px;" class="btn btn-sm"><img style="max-width: 17px; max-height: 17px; margin: 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/480px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"></i></button>  
            <button type="button" style="vertical-align: bottom; float:right; padding: 0px; border:0px; margin:0.5px;" class="btn btn-sm"><img style="max-width: 17px; max-height: 17px; margin: 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/No_icon_%28white_X_on_red_circle%29.svg/2048px-No_icon_%28white_X_on_red_circle%29.svg.png"></i></button>

        </td>
     <!--</th:block>-->
</body>
        
</html>