/* usa este fichero para personalizar tus vistas */
/*------------------CSS para que el usuario valore recetas---------------------------------------*/
.star-rating {
    border:solid 1px #ccc;
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

/*---------------------------Mostrar estrellas de valoración en recetas-------------------------------*/
.stars-outer {
    display: inline-block;
    position: relative;
    font-size: 26px;
}

.stars-outer::before {
    content: "\2606 \2606 \2606 \2606 \2606";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    font-size: 26px;
}

.stars-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #f8ce0b;
}

.attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}
.attribution:hover {
    color: #1fa67a;
}
/*----------------------------------------------------------------------------------------------------------*/
.bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://wallpaper.dog/large/20398905.jpg);
}
.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.cards{
    flexGrow: 3;
    justifyContent: "center";
    alignItems: "center"
}
.grid {
    max-width: 90%;
    justify-items: center;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 5px;
}


