/* usa este fichero para personalizar tus vistas */

.stars-outer {
    display: inline-block;
    position: relative;
    font-size: 26px;
}

.stars-outer::before {
    content: "\2606 \2606 \2606 \2606 \2606";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    font-size: 26px;
}

.stars-inner::before {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: #f8ce0b;
}

.attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}
.attribution:hover {
    color: #1fa67a;
}
/*
.ratings {
    margin-right: 10px
}

.ratings i {
    color: #cecece;
    font-size: 32px
}

.rating-color {
    color: #fbc634;
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px;
}

.small-ratings i {
    color: #cecece
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px
}
*/
.bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://wallpaper.dog/large/20398905.jpg);
}
.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.cards{
    flexGrow: 3;
    justifyContent: "center";
    alignItems: "center"
}
.grid {
    max-width: 90%;
    justify-items: center;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 5px;
}


