<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="Fragments/head :: header" />
  <title>Administrator</title>
</head>

<style>
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .element {
    transition: max-height 0.2s ease-out;
    max-height: 5px;
  }

  .smallButt {
    --bs-btn-padding-y: 10px;
    --bs-btn-padding-x: 15px;
    --bs-btn-font-size: 0.75rem;
  }
</style>


<body>
  <header th:replace="Fragments/nav.html :: nav"></header>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/admin/">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/ingredients">Ingredients</a>
    </li>
  </ul>
  <div class="product-details mr-2"
    style="border-style: solid; border-radius: 1cm; background-color: white; margin: 2cm;">
    <div style="margin: 1cm;">
      <div class="d-flex flex-row align-items-center" style="font-size: 30px;"><i
          class="fa fa-long-arrow-left"></i><span class="ml-2">Pedidos</span>
      </div>
      <hr>
      <button class="collapsible btn" id="NoEnv">+ No Enviados</button>
      <div class="content">
        <table class="table">
          <thead>
            <th scope="col">Order ID</th>
            <th scope="col">Price</th>
            <th scope="col">Recipes</th>
            <th scope="col">User</th>
            <th scope="col">Adress</th>
            <th scope="col">Action</th>
          </thead>
          <tbody id="pedidos">
            <th:block th:each="order: ${orders}">
              <tr th:if="${order.isReceived()}" class="element">
                <td th:text="${order.id}"></td>
                <td th:text="${order.price}"></td>
                <td>
                  <ul th:each="recipe: ${order.recipes}">
                    <li>
                      <a th:href="'/recipe/' + ${recipe.recipe.id}" th:text="${recipe.recipe.name}"
                        class="d-block link-dark text-decoration-none"></a>
                    </li>
                    <div class="content">
                      <div th:each="ingredient: ${recipe.recipe.ingredients}">
                        <li th:text="${ingredient.ingredient.name}"></li>
                      </div>
                    </div>
                    <button id="colIng" class="btn btn-dark btn-sm collapsible"> mostrar ingredientes </button>
                  </ul>
                </td>

                <td>
                  <a th:href="'/user/' + ${order.user.id}" th:text="${order.user.username}"
                    class="d-block link-dark text-decoration-none"></a>
                </td>

                <td th:text="${order.direction}"></td>
                <td><button type="button" class="enviar btn btn-primary" th:attr="id=${order.id}">Enviar</button></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
      <hr>
      <button id="Env" class="collapsible btn">+ Enviados</button>
      <div class="content">
        <table class="table">
          <thead>
            <th scope="col">Order ID</th>
            <th scope="col">Price</th>
            <th scope="col">Recipes</th>
            <th scope="col">User</th>
            <th scope="col">Adress</th>
          </thead>
          <tbody id="sent">
            <th:block th:each="order: ${orders}">
              <tr th:if="${order.isSent()}" class="element">
                <td th:text="${order.id}"></td>
                <td th:text="${order.price}"></td>
                <td>
                  <ul th:each="recipe: ${order.recipes}">

                    <li>
                      <a th:href="'/recipe/' + ${recipe.id}" th:text="${recipe.recipe.name}"
                        class="d-block link-dark text-decoration-none"></a>
                    </li>
                    <div class="content">
                      <div th:each="ingredient: ${recipe.recipe.ingredients}">
                        <li th:text="${ingredient.ingredient.name}"></li>
                      </div>
                    </div>
                    <button type="button" id="colIng" class="btn btn-dark btn-sm collapsible"> mostrar
                      ingredientes </button>

                  </ul>
                </td>
                <td>
                  <a th:href="'/user/' + ${order.user.id}" th:text="${order.user.username}"
                    class="d-block link-dark text-decoration-none"></a>
                </td>
                <td th:text="${order.direction}"></td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
    <th:block th:replace="Fragments/footer.html :: footer" style="margin-top: 2cm;"></th:block>

    <script>
      let enviar = document.getElementsByClassName("enviar");

      //Gestionando ws según llegan pedidos
      let pedidos = document.getElementById("pedidos");
      if (ws.receive) {
        console.log("Recibido");
        const oldFn = ws.receive; // guarda referencia a manejador anterior
        ws.receive = (m) => {
          oldFn(m); // llama al manejador anterior
          console.log(m);
          pedidos.insertAdjacentHTML("beforeend", renderMsg(m));
          actCollapsibleButton();
          actEnviarButton();

        }
      }

      // cómo pintar 1 pedido (devuelve html)
      function renderMsg(msg) {
        console.log("rendering: ", msg);

        let htmlRecipes = `<td>${msg.id}</td>
                <td>${msg.price}</td>
                <td>`;

        msg.recipes.forEach(recipe => {
          console.log(recipe);
          htmlRecipes +=
            `<li>
            <a href="'/recipe/' + ${recipe.recipe.id}"
              class="d-block link-dark text-decoration-none"> ${recipe.recipe.name} </a>
          </li>
          <div class="content">`;

          recipe.recipe.ingredients.forEach(ingredient => {
            console.log("a");
            htmlRecipes +=
              `<li> ${ingredient.ingredient.name} </li>`;
          });
          htmlRecipes +=
            `</div>
          <button id="colIng" class="btn btn-dark btn-sm collapsible"> mostrar ingredientes </button> `;
        })

        htmlRecipes +=
          `</td>
            <td>
              <a href="'/user/' + ${msg.user.id}"
                class="d-block link-dark text-decoration-none">${msg.user.username}</a>
            </td>
            <td>${msg.direction}</td>
            <td><button type="button" class="enviar btn btn-primary" id= "${msg.id}">Enviar</button></td>`;
        return htmlRecipes;
      }

      let sent = document.getElementById("sent");

      function actEnviarButton() {
        for (let i = 0; i < enviar.length; i++) {
          let e = enviar[i]
          e.onclick = () => {

            console.log("boton pulsado");
            go("/admin/send", "POST", {
              id: e.getAttribute("id")
            });
            let parent = e.parentElement.parentElement;
            e.remove();
            sent.append(parent.cloneNode(true));
            parent.remove();
            actCollapsibleButton();
          }
        }
      }

      actEnviarButton();
      actCollapsibleButton();

      function actCollapsibleButton() {
        let collapsible = document.getElementsByClassName("collapsible");
        for (let i = 0; i < collapsible.length; i++) {
          let e = collapsible[i]
          e.onclick = () => {
            console.log("Pulsado")
            let content
            if (e.id == "colIng") {
              content = e.previousElementSibling;
              if (content.classList.contains("content")) {
                if (content.style.display == "block") {
                  e.textContent = "Mostrar ingredientes"
                  content.style.display = "none";
                }
                else {

                  content.style.display = "block";
                  e.textContent = "Ocultar ingredientes"

                }
              }

              else {
                if (e.textContent == "Ocultar ingredientes") {
                  e.textContent = "Mostrar ingredientes"
                }
                else {
                  e.textContent = "Ocultar ingredientes"
                }
              }
            }
            else {
              content = e.nextElementSibling;
              if (content.style.display == "block") {
                e.textContent = "+" + e.textContent.substring(1, e.textContent.length)
                content.style.display = "none";
              } else {
                e.textContent = "-" + e.textContent.substring(1, e.textContent.length)
                content.style.display = "block";
              }
            }

          }
        }
      }


    </script>

</body>

</body>

</html>