<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
   <th:block th:replace="Fragments/head :: header" />
    <title>Checkout</title>
</head>


<body class>
    <header th:replace="Fragments/nav.html :: nav"></header>
    <!--TODO-->
    <h1 style="margin-top: 40px; margin-left: 45%;">Carrito</h1>

    <div class="bg">

        <hr class="my-4 " style="width: 90%;margin-left: 5%;">
        <form method="post" th:action="@{/addRecipe}">
            <div class="container mt-5 p-3 " style="background-color:white;border-radius: 1cm">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="product-details mr-2"
                            style="border-style: solid; border-radius: 1cm; background-color: white;">
                            <div style="margin: 1cm;">
                                <div class="d-flex flex-row align-items-center" style="font-size: 30px;"><i
                                        class="fa fa-long-arrow-left"></i><span class="ml-2">Articulos</span></div>
                                <hr>

                                <div id="cantArticulos" class="d-flex justify-content-between"> </div>
                                <div th:each="article: ${order.recipes}">
                                    <div class="d-flex justify-content-between align-items-center mt-3 p-2"
                                        id="article">
                                        <div class="cards"
                                            th:replace="Fragments/article.html :: card(article = ${article})"></div>
                                    </div>
                                    <hr class="my-4" style="width: 95%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-info" id="payment">
                            <h1 id="precioTotal"> </h1>
                            <div style="margin-left: 10%;">
                                <th:block th:if="${!session.order.getRecipes().isEmpty()}">
                                    <a href="/user/payment">
                                        <button type="button" id="RealPedido" class="btn btn-primary" style="font-size: 0.7cm;margin-top: 20px;width: 7cm;">Realizar Pedido</button>
                                    </a>
                                </th:block>
                                <p></p>
                                <a href="/"> <button type="button" onclick="" id="SegComp" class="btn btn-primary"
                                        style="background-color:white;color:black;border-color: black;font-size: 0.7cm; width: 7cm;">Seguir comprando</button> </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr class="my-4 " style="width: 90%;margin-left: 5%;">
    </div>
    <th:block th:replace="Fragments/footer.html :: footer" style="margin-top: 2cm;"></th:block>
</body>


<script>


    let cantInput = document.querySelectorAll("#cant");
    cantInput.forEach(e => e.onchange = () => {
        updateTotalPrice();
        changeQuantity(e.getAttribute("recipeId"), e.value);
    });
    let elimButton = document.querySelectorAll("#elimButton");

    updateTotalPrice();
    updateNumberElements();
    actPayment();

    elimButton.forEach(e => e.onclick = () => {
        removeRecipeFromCart(e.getAttribute("recipeId"));
        e.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.remove();
        cantInput = document.querySelectorAll("#cant");
        elimButton = document.querySelectorAll("#elimButton");
        updateTotalPrice();
        updateNumberElements();
        actPayment();
    });
    const realButton = document.getElementById("RealPedido");
    const segButton = document.getElementById("SegComp");
    function updateTotalPrice() {
        let a = document.querySelectorAll("#priceRecipe")

        let sum = 0;
        for (let i = 0; i < a.length; i++) {
            sum += parseFloat(a[i].textContent) * cantInput[i].value
        }
        sum = Math.round(sum * 100) / 100
        precioTotal = document.getElementById("precioTotal");
        precioTotal.textContent = "TOTAL: " + sum + "€"
    }

    function removeRecipeFromCart(e) {
        go("/user/removeFromCart", 'POST', {
            receta: e
        })
            .then(d => console.log("Happy", d))
            .catch(e => console.log("sad", e))
    }


    function changeQuantity(e, q) {
        go("/user/changequantCart", 'POST', {
            receta: e,
            quantity: q
        })
            .then(d => console.log("Happy", d))
            .catch(e => console.log("sad", e))
    }

    function updateNumberElements() {
        const nCant = cantInput.length
        const artElem = document.getElementById("cantArticulos");
        artElem.textContent = "Tienes " + nCant + " articulos en el carrito";
    }



    function actPayment(){
        let cantInput = document.querySelectorAll("#cant");
        let payment = document.getElementById("payment");
        if(cantInput.length == 0){
            payment.style = "margin-top: 0%;margin-left: 10%;";
        }
        else{
            payment.style = "margin-top: 30%;margin-left: 10%;";
        }
    }

    function submit_checkout(e) {
        let b = document.getElementById("cant");
        console.log(b.value);
        let a = document.querySelectorAll("#cant");
        console.log(a.length)
        a.forEach(e => console.log(e.value));
        //e.preventDefault();

        go("/user/checkout", 'POST', {

        })
            .then(d => console.log("Happy", d))
            .catch(e => console.log("sad", e))
    }
</script>

</html>