<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="Fragments/head :: header" />
    <title>Welcome</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="Fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 bg">
        <h1 class = "text-center" style="color:whitesmoke"> Operación realizada con éxito </h1>
        <a href="/" > 
            <div class = "text-center" style="color:whitesmoke">
                Home page
            </div>
        </a>
    </main>

    <th:block th:replace="Fragments/footer.html :: footer" />
</body>
</html>