<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Welcome</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 bg">
        <div class="container">
            <h1 class="mt-5" style="color: white">Bienvenid@</h1>
        </div>
        <div class="container grid">
            <!--Haríamos un for para recorrer cada receta y mostarla en un card-->
            <div th:each="recipe: ${recipes}">
                <div class="cards" th:replace="fragments/recipeCard.html :: card(recipe = ${recipe})"></div>
                <p></p>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
<script>
    let addButton = document.querySelectorAll("#addToCart");
    addButton.forEach(e => {e.onclick = addRecipeToCart});
    //addButton.onclick = addRecipeToCart
    
        function addRecipeToCart(e) {
            e.preventDefault();
            go("/user/addToCart", 'POST', {
                receta: this.getAttribute("recipeId")
            })
                .then(d => console.log("Happy", d))
                .catch(e => console.log("sad", e))
        }
</script>

</html>