<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="Fragments/head :: header" />
  <title>Payment</title>
</head>

<body>
  <header th:replace="Fragments/nav.html :: nav"></header>
  <div class="container">
  <main>
    <div class="py-5 text-center">
      <h1>ForgeMeals</h1>
      <p class="lead">Thank you for buying with ForgeMeals</p>
      <div class="text-muted fst-italic mb-2">Su número de pedido es: <em th:text="${order.id}"></em> </div>
      <div th:each="recipe: ${order.recipes}">
        <div><em th:text="${recipe.recipe.name}"></em>. Cantidad <em th:text="${recipe.quantity}"></em></div>
      </div>
    <div class="text-muted fst-italic mb-2">Total: <em th:text="${order.price}"></em> </div>
    </div>
  </main>
</div>
  <th:block th:replace="Fragments/footer.html :: footer" />
</body>
</html>