<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="Fragments/head :: header" />
    <title>UserPage</title>
</head>

<body>
    <header th:replace="Fragments/nav.html :: nav"></header>
    <!--TODO-->
    <main class="container">
        <div class="d-flex align-items-center p-3 my-3 text-black bg-gray rounded shadow-sm position-relative">
            <h1 style="margin-right: 0.5em">
                <img th:src="@{/user/{id}/pic(id=${user.id})}" height="52" class="rounded-circle">
            </h1>

            <div class="lh-1">
                <h1 class="h6 mb-1 text-black lh-base"><h1 th:text="${user.username}">Paco</h1></h1>
            </div>
        </div>

        <div class="nav-scroller bg-body shadow-sm">
              <nav class="nav nav-underline" aria-label="opcion">
                  <a class="nav-link link-dark" href="#">Recetas</a>
              </nav>
        </div>

        <div class = "d-flex shadow-sm mt-4 flex-shrink-0 bg border border-3">
            <div class = "container grid mt-4">
            <!--For de Recetas-->
                <div th:each="recipe: ${user.recipes}">
                    <div class="cards" th:replace="Fragments/recipeCard.html :: card(recipe = ${recipe})"></div>
                    <p></p>
                </div>
            </div>
        </div>

    </main>
    
    <th:block th:replace="Fragments/footer.html :: footer" />
</body>

</html>