<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="Fragments/head :: header" />
    <title>Settings</title>
</head>

<body>
    <header th:replace="Fragments/nav.html :: nav"></header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Settings</h2>
                <div class="my-4">
                    <!--Icono de usuario. Posiblemente mejerare con un despligue-->
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <img th:src="@{/user/{id}/pic(id=${user.id})}" id = "p_img" alt="..." style="width: 110px;" class="avatar-img rounded-circle" />
                                </div>
                            </div>

                            <div class="col-md-7">
                                <h4 class="mb-1" th:text="${user.username}">Username</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div id="imgPreview" class="col border border-2 border-tertiary rounded">
                            <input type="file" id="f_img" accept="image/jpeg,image/png ">
                        </div>

                        <form th:action="@{/user/{id}/pic(id=${user.id})}" class = "col">
                            <button id="postUserIcon" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <form method="post" th:action="@{/user/__${user.id}__/datasettings}" id="encuestaData">
                        <div class="row mt-5 align-items-center">
                            
                        </div>

                        <hr class="my-4" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname">Username</label>
                                <input type="text" th:value="${user.username}" id="firstname" class="form-control" th:placeholder="${user.username}" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" th:value="${user.email}"  class="form-control" id="inputEmail" th:placeholder="${user.email}" />
                        </div>
                        <div class="form-group">
                            <label for="inputAddress5">Address</label>
                            <input type="text" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue" />
                        </div>

                        <button type="submit" class="btn btn-primary"  id="databutton">Save</button>
                    </form>

                    <form method="post" th:action="@{/user/__${user.id}__/settings}" id="encuesta">
                        <!--¿Otro apartado de configuracion?-->
                        <hr class="my-4" />
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputOldPassword">Old Password</label>
                                    <input type="password" class="form-control" id="inputOldPassword" required/>
                                </div>
                                <div class="form-group">
                                    <label for="inputNewPassword">New Password</label>
                                    <input type="password" class="form-control" id="inputNewPassword" required />
                                </div>
                                <div class="form-group">
                                    <label for="inputConfPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="inputConfPassword" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"  id="savebutton">Save Change</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!--
    <h1 style="align-self: center; margin-top: 20px; margin-left:  100px;">Ajustes</h1>
    <div class="container"  style="display: flex; justify-content: center;  left: 0; right:0; top: 10vh; bottom:0;">
        <div class="card bg-light" style="border-radius: 15px; height: fit-content; width:800px;"> 
            <form method="post" th:action="@{/settings}">
            
                <div style="margin:20px">
                    
                    <div class="checkbox mb-3">
                        <label><input type="checkbox"> Cuenta privada </label>
                    </div>

                    <div class="checkbox mb-3">
                        <label><input type="checkbox"> Tema oscuro </label>
                    </div>

                    <div class="form-group mb-3">
                        <label for="pwd">Cambiar contraseña</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                
                    <div class="form-group mb-3">
                        <label for="address"> Dirección de entrega: </label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group mb-3">
                        <a href="/">  Datos de facturación </a>
                    </div>

                    <div class="form-group mb-3">
                        <a href="/"> Eliminar cuenta </a>
                    </div>
                    
                    <button type = "submit" class="btn btn-primary" id="g">Guardar cambios</button>
                            
                    <a href="/"> <button type="button" onclick="" class="btn btn-primary" style="background-color:white;color:black;border-color: black;">Cancelar</button> </a>
                    
                </div>
            </form>
        </div>
    </div>
    -->
    <th:block th:replace="Fragments/footer.html :: footer" />

    <script>
        // previsualizacion
        document.querySelector("#f_img").onchange = e => {
            let img = document.querySelector("#p_img");
            let fileInput = document.querySelector("#f_img");
            console.log(img, fileInput);
            readImageFileData(fileInput.files[0], img);
        };

        // post Imangen de usuario
        document.querySelector("#postUserIcon").onclick = e => {
            e.preventDefault();
            let url = document.querySelector("#postUserIcon").parentNode.action;
            console.log(url);
            let img = document.querySelector("#p_img");
            let file = document.querySelector("#f_img");
            postImage(img, url, "photo").then(() => {
                let cacheBuster = "?" + new Date().getTime();
                document.querySelector("#navIcon").src = url + cacheBuster;
                
            });
        };

        document.querySelector("#savebutton").onclick = e => {
            e.preventDefault();
            let encuesta = document.querySelector("#encuesta");
            if(encuesta.checkValidity()){
                let url = document.querySelector("#savebutton").parentNode.action;
                //Password check- 
                //https://es.stackoverflow.com/questions/106375/expresion-regular-para-contrase%C3%B1a-javascript
                //https://es.stackoverflow.com/questions/75907/validar-caracteres-may%C3%BAsculas-min%C3%BAsculas-y-caracteres-num%C3%A9ricos-para-una-contr
                let reg = /^(?=(?:.*\d){1})(?=(?:.*[A-Z]){1})(?=(?:.*[a-z]){1})\S{4,}$/;//Falta requisito de que debe tener un caracter especial
                let pasCof = document.getElementById("inputConfPassword").value;
                let pasNew = document.getElementById("inputNewPassword").value;
                let pasOld = document.getElementById("inputOldPassword").value;

                if( pasNew.match(reg) != null && pasNew != pasOld ){//Si la contraseña es segura.
                    if(pasNew == pasCof){
                        go(url, 'POST', {   
                            newPassword: pasNew,
                            oldPassword: pasOld
                        })
                            .then(() => {
                                console.log("Good");
                                location.reload();
                            }) 
                            .catch(e => {
                                console.log("Not good", e)
                                alert("Fail change. Check old Password")
                            })
                    }
                    else{
                        alert("Error a la hora de confirmar");
                    }
                }
                else{
                    //User
                    alert("Contraseña no segura");
                }
            }
            else{
                encuesta.reportValidity();
            }
                
        };

        document.querySelector("#databutton").onclick = e => {
            e.preventDefault();
            let encuesta = document.querySelector("#encuestaData");
            if(encuesta.checkValidity()){
                go(url, 'POST', {   
                    firstname: document.getElementById("firstname").value,  
                    email: document.getElementById("inputEmail").value
                })
            }
            else{
                encuesta.reportValidity();
            }
                
        };
    </script>

</body>

</html>