<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Settings</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>
    <h1 style="align-self: center; margin-top: 20px;">Ajustes</h1>
    <div class="container"  style="display: flex; justify-content: center; position: fixed; left: 0; right:0; top: 10vh; bottom:0;">
    <div class="card bg-light" style="border-radius: 15px; height: fit-content; width:800px;">
    <form method="post" th:action="@{/settings}">
      
        <div style="margin:20px">
            
            <div class="checkbox mb-3">
                <label><input type="checkbox"> Cuenta privada </label>
            </div>

            <div class="checkbox mb-3">
                <label><input type="checkbox"> Tema oscuro </label>
            </div>

            <div class="form-group mb-3">
                <label for="pwd">Cambiar contraseña</label>
                <input type="password" class="form-control" id="pwd">
            </div>
           
            <div class="form-group mb-3">
                <label for="address"> Dirección de entrega: </label>
                <input type="text" class="form-control" id="address">
            </div>
            <div class="form-group mb-3">
                <a href="/">  Datos de facturación </a>
            </div>

            <div class="form-group mb-3">
                <a href="/"> Eliminar cuenta </a>
            </div>
            
            <button type = "submit" class="btn btn-primary" id="g">Guardar cambios</button>
                    
            <a href="/"> <button type="button" onclick="" class="btn btn-primary" style="background-color:white;color:black;border-color: black;">Cancelar</button> </a>
            
        </div>
    </form>
</div>
</div>
</body>


    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>