<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="Fragments/head :: header" />
    <title>Settings</title>
</head>

<body>
    <header th:replace="Fragments/nav.html :: nav"></header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                <h2 class="h3 mb-4 page-title">Settings</h2>
                <div class="my-4">
                    <!--Icono de usuario. Posiblemente mejerare con un despligue-->
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-3 text-center mb-5">
                                <div class="avatar avatar-xl">
                                    <img th:src="@{/user/{id}/pic(id=${user.id})}" id = "p_img" alt="..." style="width: 110px;" class="avatar-img rounded-circle" />
                                </div>
                            </div>

                            <div class="col-md-7">
                                <h4 class="mb-1" th:text="${user.username}">Username</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <div id="imgPreview" class="col border border-2 border-tertiary rounded">
                            <input type="file" id="f_img" accept="image/jpeg,image/png ">
                        </div>

                        <form th:action="@{/user/{id}/pic(id=${user.id})}" class = "col">
                            <button id="postUserIcon" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <!--User form-->
                    <form method="post" th:action="@{/user/__${user.id}__/userSettings}" id="formUserData">
                        <div class="row mb-4">
                            <hr class="my-4" />
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstname">Username</label>
                                    <input type="text" th:value="${user.username}" id="firstname" class="form-control" th:placeholder="${user.username}" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" th:value="${user.email}"  class="form-control" id="inputEmail" th:placeholder="${user.email}" />
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text"  th:value="${user.address}" class="form-control" id="inputAddress" th:placeholder="${user.address}"/>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary"  id="dataButton">Save</button>
                    </form>
                    <!--Password form-->
                    <form method="post" th:action="@{/user/__${user.id}__/passwordSettings}" id="formPassword">
                        <hr class="my-4" />
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputOldPassword">Old Password</label>
                                    <input type="password" class="form-control" id="inputOldPassword" required/>
                                </div>
                                <div class="form-group">
                                    <label for="inputNewPassword">New Password</label>
                                    <input type="password" class="form-control" id="inputNewPassword" required />
                                </div>
                                <div class="form-group">
                                    <label for="inputConfPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="inputConfPassword" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>Minimum 8 character</li>
                                    <li>At least one special character</li>
                                    <li>At least one number</li>
                                    <li>Can’t be the same as a previous password</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-primary"  id="passwordButton">Save Change</button>
                            </div>
                        
                            <div class="col-md-3">
                                <button type="button" class="btn btn-danger" id="elimButton"> Delete account </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <th:block th:replace="Fragments/footer.html :: footer" />

    <script>
        // previsualizacion
        document.querySelector("#f_img").onchange = e => {
            let img = document.querySelector("#p_img");
            let fileInput = document.querySelector("#f_img");
            console.log(img, fileInput);
            readImageFileData(fileInput.files[0], img);
        };

        // post Imagen de usuario
        document.querySelector("#postUserIcon").onclick = e => {
            e.preventDefault();
            let url = document.querySelector("#postUserIcon").parentNode.action;
            console.log(url);
            let img = document.querySelector("#p_img");
            let file = document.querySelector("#f_img");
            postImage(img, url, "photo").then(() => {
                let cacheBuster = "?" + new Date().getTime();
                document.querySelector("#navIcon").src = url + cacheBuster;
                
            });
        };

        document.querySelector("#passwordButton").onclick = e => {
            e.preventDefault();
            let encuesta = document.querySelector("#formPassword");
            let pasCof = document.getElementById("inputConfPassword");
            let pasNew = document.getElementById("inputNewPassword");
            let pasOld = document.getElementById("inputOldPassword");

            pasOld.setCustomValidity("");
            pasCof.setCustomValidity("");
            pasNew.setCustomValidity("");
            if(encuesta.checkValidity()){
                let url = document.querySelector("#passwordButton").parentNode.action;
                //Password check- 
                //https://es.stackoverflow.com/questions/106375/expresion-regular-para-contrase%C3%B1a-javascript
                //https://es.stackoverflow.com/questions/75907/validar-caracteres-may%C3%BAsculas-min%C3%BAsculas-y-caracteres-num%C3%A9ricos-para-una-contr
                //https://stackoverflow.com/questions/10557441/regex-to-allow-atleast-one-special-character-one-uppercase-one-lowercasein-an
                let reg = /^(?=(?=.*\W){1})(?=(?:.*\d){1})\S{8,}$/;//Es posible que falta algun caracter especial a considerar
                
                if( pasNew.value.match(reg) != null && pasNew.value != pasOld.value ){//Si la contraseña es segura.
                    if(pasNew.value == pasCof.value){
                        go(url, 'POST', {   
                            newPassword: pasNew.value,
                            oldPassword: pasOld.value
                        })
                            .then(() => {
                                alert("Saved");//Seria mejor usar una pagina de aviso
                                location.reload();
                            }) 
                            .catch(e => {
                                pasOld.setCustomValidity("Contraseña incorrecta");
                                encuesta.reportValidity();
                                
                            })
                    }
                    else{
                        pasCof.setCustomValidity("Error a la hora de confirmar");
                        encuesta.reportValidity();
                    }
                }
                else{
                    pasNew.setCustomValidity("Contraseña insegura");
                    encuesta.reportValidity();
                }
            }
            else{
                encuesta.reportValidity();
            }
                
        };

        document.querySelector("#dataButton").onclick = e => {
            e.preventDefault();
            let encuesta = document.querySelector("#formUserData");
            document.getElementById("firstname").setCustomValidity("");
            if(encuesta.checkValidity()){
                let url = document.querySelector("#dataButton").parentNode.action;
                go(url, 'POST', {   
                    firstname: document.getElementById("firstname").value,  
                    email: document.getElementById("inputEmail").value,
                    address: document.getElementById("inputAddress").value
                })
                    .then(() => {
                        alert("Saved");
                        location.reload();
                    }) 
                     .catch(e => {
                        //Triple por preventDefault();
                        document.getElementById("firstname").setCustomValidity("Nombre de usuario existente");
                        encuesta.reportValidity();
                    })
            }
            else{
                encuesta.reportValidity();
            }
                
        };
        document.getElementById("elimButton").onclick = e => {
            go("/user/deleteUser", "POST").then(() => window.location.href = "/");
           
        }
    </script>

</body>

</html>