<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>WeekPlan</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

      <table class="table table-sm table-bordered .table-hover w-75" style="margin-left:auto; margin-right: auto;" > 
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Desayuno</th>
            <th scope="col">Comida</th>
            <th scope="col">Cena</th>
            <th scope="col">Snacks</th>
          </tr>
        </thead>
       
        <tbody>
          <!-- https://www.baeldung.com/spring-thymeleaf-fragments#parametrized-fragments  -->
            <tr th:each="day : ${weekdays}">
              <th scope="row" th:text="${day}"> Día </th>
              <td th:each="time : ${daytimes}">
                <div th:with="meal=${user.getMealByCell(day,time)}">
                  <p th:text="${meal.getName()}"> Nombre comida </p>
                  <button type="button" style="vertical-align: bottom; float:right; padding: 0px; border:0px; margin:0.5px;" class="btn btn-sm"><img style="max-width: 17px; max-height: 17px; margin: 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/480px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"></i></button>  
                  <button type="button" style="vertical-align: bottom; float:right; padding: 0px; border:0px; margin:0.5px;" class="btn btn-sm"><img style="max-width: 17px; max-height: 17px; margin: 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/No_icon_%28white_X_on_red_circle%29.svg/2048px-No_icon_%28white_X_on_red_circle%29.svg.png"></i></button>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
  
    </div>
  
    <!--Consulta: https://getbootstrap.com/docs/5.1/examples/grid/-->
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>