<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>WeekPlan</title>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

      <table class="table table-sm table-bordered .table-hover w-75" style="margin-left:auto; margin-right: auto;" > 
        <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">Desayuno</th>
            <th scope="col">Comida</th>
            <th scope="col">Cena</th>
            <th scope="col">Snacks</th>
          </tr>
        </thead>
       
        <tbody>
          <!-- https://www.baeldung.com/spring-thymeleaf-fragments#parametrized-fragments 
          Quiero hacerlo con puras variables java así que luego del :: se pondría cellWP(field='Desayuno',value='Variable') y así

          Hacer lista de dias de la semana para usar en vez de día
           en vez de hacerlos con numbers.sequence, usamos una lista del modelo para coger cada dato

           El slide 25 de thymeleaf no funciona, pero quiero hacer eso con los días de la semana
          
        -->
        
            
              <tr th:each="i: ${#numbers.sequence(0, 6)}"> <!-- dias de la semana-->
                  <th scope="row" th:text="${current}" >Día</th>
                 <th:block  th:each="k: ${#numbers.sequence(0, 3)}"> <!-- desayuno-comida-merienda-cena -->
                  <td th:replace="fragments/wpCell :: td"></td>
                 </th:block> 
              </tr>
            </th:block>
        </tbody>
      </table>
  
    </div>
  
    <!--Consulta: https://getbootstrap.com/docs/5.1/examples/grid/-->
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>